*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    overflow: hidden;
}

.container{
    padding: 0 15px;
    max-width: 1410px;
    margin: 0 auto;
}

header{
    width: 100vw;
    height: 100vh;
    display: relative;
}

.nav{
    height: 85px;
    width: 100vw;
    padding: 31px 0;
}

.nav_items{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    color: #01996D;
}

.menu{
    gap: 72px;
    display: flex;
}

.menu_items{
    color: #292929;
    text-decoration: none;
    transition: .2s linear;
}

.menu_items:hover{
    text-decoration: underline;
}

.second_menu{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.menu-btn{
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 13px 50px;
    color: #fff;
    transition: .2s linear;
}

.menu-btn:hover{
    background-color: #fff;
    color: #01996D;
    
}


/* head */

.head{
    width: 100vw;
    height: calc(100vh - 85px);
    background-image: url(img/radu-florin-CwTBt6jyagQ-unsplash%201.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 175px;
}

.head_items{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head_items h1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
}

.head_items p{
    color: #484848;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}


section[type="first"]{
    widows: 100vw;
    min-height: 100vh;
    display: block;
    
}

.first{
    padding-top: 78px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 136px;
    width: 100%;
}

.title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.title h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}

.title_right p{
    font-weight: 500;    
    font-size: 20px;
    line-height: 150%;
}

.title_right{
    margin-top: 20px;
}


.first_cards{
    margin-top: 187px;
    display: flex;
    gap: 95px;
}

.first_text-card h2{
    color: rgba(1, 153, 109, 0.2);
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    position: absolute;
}

.first_text-card p{
    display: block;
    margin-left: 115px;
    margin-top: 95px;
    font-weight: 550;
    font-size: 25px;
    line-height: 150%;
}

.first_text-card{
    display: flex;
    align-items: center;
    height: 100px;
}

.second_text-card{
    margin-top: 55px;
}

.card_img{
    display: flex;
    align-items: flex-end;
}

.first-card_img{
    position: absolute;
}

.second-card_img{
    z-index: 50;
    margin-left: 205px;
    margin-top: 225px;
    margin-bottom: 123px;
}

.second_card{
    margin-top: 162px;
}

.first-card_img2{
    margin-top: 37px;
    position: relative;
}


@media(max-width: 1350px){
    .nav{
        height: 100vh;
    }
    .nav_items{
        display: flex;
        flex-direction: column;
        height: 80vh;
        
    }
    .menu_items{
        display: block;
        font-size: 25px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }
    .logo{
        font-size: 25px;
        text-transform: uppercase;
    }

}

section[type="second"]{
    width: 100vw;
    min-height: 100vh;
    background-color: #245852;
    color: #fff;
    padding: 229px;
}

.second_container{
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.second_title{
    display: flex;
    gap: 33px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.second_title h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
}

.second_title p{
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.second_title button{
    width: 240px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}

.second_video{
    position: relative;
    width: 768px;
    aspect-ratio: 16/9;
}

.second_video video[controls]{
height: 90%;
width: 90%;
}

.second_video video{
    position: absolute;
    width: 695px;
    height: 316px;
    border-radius: 16.3326px;
}




@media(max-width: 792px){
    .second_container{
        flex-direction: column;
        gap: 20px;
    }
    .second_title{
        align-items: center;
    }
    .second_video{
        display: flex;
        justify-content: center;
        position: relative;
        width: 668px;
        height: 400px;
        aspect-ratio: 16/9;
    }

    .second_video video[controls]{
        height: 90%;
        width: 90%;
    }

    .second_video video{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16.3326px;
    }
}


@media(max-width: 652px){
    .second_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-content: center;
    }
    
    .second_video{
        display: flex;
        justify-content: center;
        position: relative;
        width: 568px;
        height: 300px;
        aspect-ratio: 16/9;
    }

    .second_video video[controls]{
        height: 100%;
        width: 100%;    
    }

    .second_video video{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16.3326px;
    }
}

@media(max-width: 435px){
    .second_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-content: center;
        align-items: center;
    }
    
    .second_title{
        margin-left: -90px;
        align-items: center;
    }
    .second_video{
        margin-left: -90px;
        display: flex;
        justify-content: center;
        position: relative;
        width: 468px;
        height: 225px;
        aspect-ratio: 16/9;
    }

    .second_video video[controls]{
        max-height: 225px;
        width: 80%;    
    }

    .second_video video{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16.3326px;
    }
}

@media(max-width: 515px){
    .second_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-content: center;
        align-items: center;
    }
    
    .second_title{
        align-items: center;
    }
    .second_video{
        display: flex;
        justify-content: center;
        position: relative;
        width: 468px;
        height: 225px;
        aspect-ratio: 16/9;
    }

    .second_video video[controls]{
        max-height: 225px;
        width: 80%;    
    }

    .second_video video{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16.3326px;
    }
}

@media(max-width: 1350px){
    .head{
        height: 100vh;
        filter: saturate(30%);
        display: relative;
    }
    .head_items{
        filter: invert(0);
        display: flex;
        gap: 60px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .head p{
        color: #000;
    }
    section[type="first"]{
    margin-top: 100vh;
    }
    .title{
        gap: 20px;
        flex-direction: column;
    }
    .title_right{
        display: flex;
        text-align: right;
    }
    .title_left{
        text-align: left;
    }
    .title{
        width: 100%;
    }
    .card{
        padding: 20px;
        border-radius: 25px;
        background-color: #d4d4d4;
        border: 1px solid beige;
    }
    .first_cards{
        gap: 15px;
    }
    .second_card{
        margin-top: 0;
    }
}


@media(max-width: 1500px){
    .first_cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second_container{
        flex-direction: column;
        gap: 20px;
    }
    .second_title{
        align-items: center;
    }
}









































